<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" />
    <!--TABLE STYLES-->
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="__PUBLIC__/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="__PUBLIC__/css/custom.css?var=<?php echo time() ?>" rel="stylesheet" />
    <link href="__PUBLIC__/css/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- GOOGLE FONTS
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    -->
</head>
<body>
<div id="page-inner" >

    <div class="row">

        <div class="col-md-12">
            <div id="preload" ></div>
            <h1 class="page-head-line">签约商管理</h1>
            <div>
                <ol class="breadcrumb">
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Merchant</a></li>
                    <li class="active">submerchants</li>
                </ol>
            </div>
            <hr/>

        </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">

        <div class="col-md-12">
            <div id="toolbar">
                <button id="add" class="btn btn-success" data-toggle="modal" data-target="#subAdd" >
                    <i class="glyphicon glyphicon-plus"></i> 添加商户
                </button>
            </div>
            <table id="tab">
            </table>
            <!-- /. ROW  -->
        </div>
        <!-- /.REVIEWS &  SLIDESHOW  -->
    </div>
    <!-- /. ROW  -->
    <hr />
    <!-- 代理商户添加模态框（Modal） -->
    <div class="modal fade" id="subAdd" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加商户
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="subAddForm" action="" method="post" >
                        <input type="hidden" name="pid" value="{$pid}">
                        <input type="hidden" name="parent_id" value="{$parent_id}">

                        <div class="form-group">
                            <label  class="col-sm-3 control-label">商家名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="merchantname"  placeholder="商家名称" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">联系人</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="contact"  placeholder="联系人" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">省/市</label>
                            <div class="col-sm-8">
                                <div class="address"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">详细地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="address"  placeholder="详细地址" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">行业类别</label>
                            <div class="col-sm-8">
                               <select name="industry">
                                   <option value="">请选择</option>
                                   <option value="餐饮">餐饮</option>
                                   <option value="零售">零售</option>
                                   <option value="医药">医药</option>
                                   <option value="服装">服装</option>
                               </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">支付页面配置</label>
                            <div class="col-sm-8">
                               <label><input type="radio" name="pageinfo_status" value="0" checked>停用</label>
                                <label><input type="radio" name="pageinfo_status" value="1">启用</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">联系电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="phone"  placeholder="联系电话" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-3 control-label">邮箱地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="email"  placeholder="邮箱地址" value="{$config['weixin']['appid']}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="mySubmit('subAdd','__CONTROLLER__/add')">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->
    <!-- 代理商户编辑模态框（Modal） -->
    <div class="modal fade" id="subEdit" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        编辑代理商
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="subEditForm" action="" method="post" >
                        <input type="hidden" name="id">
                        <input type="hidden" name="salt">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">商家名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="merchantname"  placeholder="商家名称" value="" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">账号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="username" placeholder="账号" value="" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="password"  placeholder="密码" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="repassword"  placeholder="确认密码" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">联系人</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="contact"  placeholder="联系人" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">省/市</label>
                            <div class="col-sm-8">
                                <div class="address"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">详细地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="address"  placeholder="详细地址" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">行业类别</label>
                            <div class="col-sm-8">
                                <select name="industry">
                                    <option value="">请选择</option>
                                    <option value="餐饮">餐饮</option>
                                    <option value="零售">零售</option>
                                    <option value="医药">医药</option>
                                    <option value="服装">服装</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">支付页面配置</label>
                            <div class="col-sm-8">
                                <label><input type="radio" name="pageinfo_status" value="0">停用</label>
                                <label><input type="radio" name="pageinfo_status" value="1">启用</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="phone"  placeholder="联系电话" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">邮箱地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="email"  placeholder="邮箱地址" value="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="mySubmit('subEdit','__CONTROLLER__/edit')">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->
    <!-- wx支付配置模态框（Modal） -->
    <div class="modal fade" id="wxpayConfig" tabindex="-1" role="dialog"
         aria-labelledby="wxConfigModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="wxConfigModalLabel">
                        微信支付配置
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="wxpayConfigForm"  method="post" >
                        <input type="hidden" name="type" value="weixin">
                        <input type="hidden" name="mid" >
                        <!--
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">appid</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="appid" name="appid">
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">mchid</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="mchid" placeholder="商户号" >
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="mySubmit('wxpayConfig','__CONTROLLER__/editPayconfig')">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->
    <!-- 批量二维码模态框（Modal） -->
    <div class="modal fade" id="batchQrcode" tabindex="-1" role="dialog"
         aria-labelledby="batchQrcodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="batchQrcodeModalLabel">

                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="batchQrcodeForm" name="batchQrcodeForm" action="__MODULE__/Pay/batchQrcode" method="post" >
                        <input type="hidden" name="batch" value="1">
                        <div class="row" id="stores-container">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="batchQrcodeForm.submit()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->

<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="__PUBLIC__/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="__PUBLIC__/js/bootstrap.js"></script>
<!-- TABLE SCRIPTS -->
<script src="__PUBLIC__/js/bootstrap-table.js"></script>
<script src="__PUBLIC__/js/sweetalert/sweetalert.min.js"></script>
<script src="__PUBLIC__/js/area0.04.js"></script>
<script language="javascript">
    var address={$address};
    var proId={$proId}+"";
    var cityId={$cityId}+"";

    onload=function(){
        setTimeout(function(){
            document.getElementById("preload").style.display="none";
        },1000);
    }

    function getTab(){
        var url = '__CONTROLLER__/submerchants';
        $('#tab').bootstrapTable({
            method: 'post', //这里要设置为get，不知道为什么 设置post获取不了
            url: url,
            cache: false,
            height: 800,
            striped: true,
            pagination: true,
            pageList: [20],
             contentType: "application/x-www-form-urlencoded",
            pageSize:20,
            pageNumber:1,
           // search: true,
            sidePagination:'server',//设置为服务器端分页
            queryParams: queryParams,//参数
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            smartDisplay:true,
            columns: [
                {
                    field: 'id',
                    title: '编号',
                    align: 'center',
                    width: '180',
                    valign: 'bottom',
                    visible:false,
                    sortable: true
                }, {
                    field: 'merchantname',
                    title: '商户名称',
                    align: 'center',
                    width: '200',
                    valign: 'middle',
                    sortable: true
                }, {
                    field: 'username',
                    title: '帐号',
                    align: 'center',
                    width: '150',
                    valign: 'top',
                    sortable: true
                },  {
                    field: 'contact',
                    title: '联系人',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'address',
                    title: '商户地址',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'email',
                    title: '邮箱',
                    align: 'center',
                    valign: 'middle',
                    clickToSelect: false
                }, {
                    field: 'type',
                    title: '商户类型',
                    align: 'center',
                    valign: 'middle',
                    clickToSelect: false
                },  {
                    field: 'pageinfo_status',
                    title: '页面配置',
                    align: 'center',
                    valign: 'middle',
                    clickToSelect: false,
                    formatter: pageinfoFormatter
                },{
                    title: '其他操作',
                    align: 'center',
                    formatter: showFormatter
                }, {
                    field: 'operate',
                    title: '操作',
                    width:'100',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                }]
        });
    }
    //设置传入参数
    function queryParams(params) {
        params.pid={$pid};
        params.parent_id={$parent_id};
        return params
    }
    var is_proxy="<?php echo($_SESSION['loginMerchant']['is_proxy']);?>";

    function showFormatter(value, row, index){
        var str="";
        str+="<a class='add' href='__MODULE__/Store/stores?mid=" + row.id +"' title='查看下属商户门店'><small class='glyphicon glyphicon-search'>查看门店</small></a>";
        str+="&nbsp;<a class='add' href='javascript:void(0)' onclick=\"batchQrcode('"+row.merchantname+"',"+row.id+")\" title='门店支付二维码'><small class='glyphicon glyphicon-qrcode'>下载二维码</small></a>";

        if(row.parent_id>0||is_proxy==0) {
             str+="<a  style='display: none;'></a>";
            return str;
        }else{
            str+="<a class='add' href='__CONTROLLER__/submerchants?id=" + row.id + "&pid=" + row.pid + "' title='查看下属商户'><small class='glyphicon glyphicon-search'>下属商户</small></a>";
            return str;
        }
    }
    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="支付配置">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>  ',
            '<a class="edit" href="javascript:void(0)" title="修改信息">',
            '<i class="glyphicon glyphicon-user"></i>',
            '</a>  ',
           /* '<a class="add" href="javascript:void(0)" title="添加下属商户">',
            '<i class="glyphicon glyphicon-plus"></i>',
            '</a>  ',*/
            '<a class="remove" href="javascript:void(0)" title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }
    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
           // alert('You click edit action, row: ' + JSON.stringify(row));
            editForm('subEdit',row);
            //$("#tab").bootstrapTable('resetView');
        },
        'click .like': function (e, value, row, index) {
            //alert('You click like action, row: ' + JSON.stringify(row));
            //$("#tab").bootstrapTable('resetView');
            editWxPayConfig(row.id);
        },
        'click .add': function (e, value, row, index) {
             //alert('You click edit action, row: ' + JSON.stringify(row));
            fillAddForm('subAdd',row);
            //$("#tab").bootstrapTable('resetView');
        },
        'click .remove': function (e, value, row, index) {
            //alert('You click like action, row: ' + JSON.stringify(row));
            //$("#tab").bootstrapTable('refresh');
            delte("__CONTROLLER__/delete","mid="+row.id);
        }
    };
    $(function(){
        getTab();
    })

    //====================================
    function mySubmit(formId,url){
        var params = $("#"+formId+"Form").serialize();
        alert(params);
        $.ajax({
            url:url,
            data:params,
            dataType:"json",
            type:"post",
            success: function (data) {
               // alert(JSON.stringify(data));
                swal({
                    title: data.message,
                    text: data.data,
                    type: data.result
                }, function () {
                    //window.location.reload();
                });
                $("#tab").bootstrapTable('refresh');
                $('#'+formId).modal('hide');
            },
            error:function(){
                swal({
                    title: "操作失败！",
                    text: "网络异常",
                    type: "error"
                }, function () {
                    //window.location.reload();
                });
            }
        })
    }

    function editForm(formId,jsonData){
        if(jsonData!=null) {
            var $editForm = $("#" + formId+"Form");
            $editForm[0].reset();
            if(formId=="subEdit"){
             //   $editForm.find("[name='pageinfo_status']").attr("checked","unchecked");
                $editForm.find("[name='industry']").val(jsonData.industry);
                if(jsonData.pageinfo_status==1) {
                    $editForm.find("[name='pageinfo_status']").last().attr("checked", "checked");
                    $editForm.find("[name='pageinfo_status']").first().removeAttr("checked");
                }
                if(jsonData.pageinfo_status==0) {
                    $editForm.find("[name='pageinfo_status']").first().attr("checked", "checked");
                    $editForm.find("[name='pageinfo_status']").last().removeAttr("checked");
                }
              // $editForm.find("[name='pageinfo_status'][value='"+jsonData.pageinfo_status+"']").attr("checked","checked");
                addressInit(jsonData.proId,jsonData.cityId);
            }
            for (var obj in jsonData) {
                if ($editForm.find("input[name='" + obj + "']")) {
                    if(obj!="pageinfo_status"&&obj!="industry"){

                    $editForm.find("input[name='" + obj + "']").val(jsonData[obj]);
                    }else{

                    }
                }
            }
        }
        $("#"+formId).modal('show');
    }
    function fillAddForm(formId,jsonData){

            var $editForm = $("#" + formId+"Form");
            $editForm[0].reset();
            $editForm.find("input[name='pid']").val(jsonData.pid);
            $editForm.find("input[name='parent_id']").val(jsonData.id);
        $("#"+formId).modal('show');
    }

    function delte(url,data){
        var params = data;
        $.ajax({
            url:url,
            data:params,
            dataType:"json",
            type:"post",
            success: function (data) {
               // alert(JSON.stringify(data));
                swal({
                    title: data.message,
                    text: data.data,
                    type: data.result
                }, function () {
                    //window.location.reload();
                });
                $("#tab").bootstrapTable('refresh');
            },
            error:function(){
                swal({
                    title: "操作失败！",
                    text: "网络异常",
                    type: "error"
                }, function () {
                    //window.location.reload();
                });
            }
        })
    }

    function editWxPayConfig(mid){
        $.ajax({
            url:"__CONTROLLER__/editPayconfig",
            data:'mid='+mid,
            dataType:"json",
            type:"get",
            success: function (data) {
               // alert(JSON.stringify(data));
                editForm('wxpayConfig',data.data);
            },
            error:function(){
                swal({
                    title: "操作失败！",
                    text: "网络异常",
                    type: "error"
                }, function () {
                    //window.location.reload();
                });
            }
        })
    }
    function batchQrcode(merchantname,id){
        $("#batchQrcodeModalLabel").html(merchantname);
        $.ajax({
            url:"__MODULE__/Pay/batchQrcode",
            data:"searchStore=1&mid="+id,
            type:"post",
            dataType:"json",
            success:function(data){
                if(data.result!="success"){
                    swal({
                        title: data.message,
                        text: data.data,
                        type: data.result
                    }, function () {
                        //window.location.reload();
                    });
                }else {
                    var objs=data=data.data;
                    //TODO 先清空再填充checkbox
                    $("#stores-container").html("");
                    for (var i = 0; i < objs.length; i++) {

                        $("#stores-container").html($("#stores-container").html()+"<div class='col-md-3'>" +
                                "<input type='checkbox' name='store_ids[]' value='"+objs[i].id+"'>" +
                                "<label>"+objs[i].name+"</label>"
                               );
                    }
                    $("#batchQrcode").modal("show");
                }
            },
            error:function(){
                swal({
                    title: "操作失败！",
                    text: "网络异常",
                    type: "error"
                }, function () {
                    //window.location.reload();
                });
            }
        });

    }
    function pageinfoFormatter(value){
        if(value==0)
                return '<small style="color: #9f191f;">停用</small>';
        if(value==1)
            return '<small style="color: #00FF00;">启用</small>';
    }
</script>
</body>
</html>